<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Blog</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">My Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                      </li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- Blog Section -->
    <section id="blog">
        <div class="container">
        
            <div class="row">
            

               
                      <div class="col-md-6 offset-md-3">
                        <h2>Register</h2>
                        <hr>
                        <% if (message) { %>
                          <button type="button" class="btn btn-success" id="myShowBtn"><%= message %></button>
                          
                        <% } %>
                        <% if (error) { %>
                          <button type="button" class="btn btn-danger" id="myShowBtn"><%= error %></button>
                          <% } %>
                        <form action="/register" method="POST">
                            <div class="form-group">
                              <label for="name">Name:</label>
                              <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="form-group">
                              <label for="email">Email address:</label>
                              <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                              <label for="password">Password:</label>
                              <input type="password" class="form-control" id="password" name="password" required>
                              <small id="passwordHelp" class="form-text text-muted">Must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.</small>
                            </div>
                            <div class="form-group">
                              <label for="confirmPassword">Confirm Password:</label>
                              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                              <small id="confirmPasswordHelp" class="form-text text-muted"></small>
                            </div>
                            <button type="submit" class="btn btn-primary" id="register" disabled>Register</button>
                          </form>
                          
                      </div>
              
                  
                      <script>
                        const password = document.getElementById('password');
                        const confirmPassword = document.getElementById('confirmPassword');
                        const passwordHelp = document.getElementById('passwordHelp');
                        const confirmPasswordHelp = document.getElementById('confirmPasswordHelp');
                      
                        // function to check password strength
                        function checkPasswordStrength() {
                          const passwordValue = password.value;
                      
                          const passwordStrengthRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
                          if (passwordValue.match(passwordStrengthRegex)) {
                            passwordHelp.innerText = "Password strength: Strong";
                          } else {
                            passwordHelp.innerText = "Password strength: Weak";
                          }
                        }
                      
                        // event listener for password field
                        password.addEventListener('input', () => {
                          checkPasswordStrength();
                        });
                      
                        // event listener for confirm password field
                        confirmPassword.addEventListener('input', () => {
                          if (confirmPassword.value === password.value) {
                            confirmPasswordHelp.innerText = "";
                            document.getElementById('register').disabled=false;
                          } else {
                            document.getElementById('register').disabled=true;
                            confirmPasswordHelp.innerText = "Passwords do not match.";
                          }
                        });
                      </script>
                      
                  
                
                          
        </div>
        </div>

        </section>
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
        </body>
        </html>

       

  

               
